p {
  margin: 0px;
  padding: 0px;
}

.formatting {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.educationFormatting p {
  padding-left: 20px;
}

.titleAndDate {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
